/* header */
.header {
  padding-top: 48px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .login-btn {
  padding: 13px 38px;
  border-radius: 5px;
  backdrop-filter: blur(24px);
  background: #ffffff1f;
  font-size: 18px;
  font-weight: 500;
  line-height: 20.82px;
  color: #fff;
}
/* header */

/* home-page */
.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-image: url(../src/assets/all-bg.webp);
  /* background-size: 100% 100%;
  background-repeat: no-repeat; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  transition: all 0.2s linear;
}
.home-page.slide-1 {
  background-image: url(../assets/bg-one.webp);
}
.home-page.slide-2 {
  background-image: url(../assets/bg-two.webp);
}
.home-page.slide-3 {
  background-image: url(../assets/bg-three.webp);
}
.home-page.slide-4 {
  background-image: url(../assets/bg-four.webp);
}
.slider {
  padding: 212px 0 74px 0;
}
.slider .slide {
  padding-bottom: 254px;
}
.slider .slider-title {
  font-family: 'Micra', sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 50.6px;
  letter-spacing: -0.1em;
  color: #fff;
  text-transform: uppercase;
  width: 902px;
}
.slider .slider-desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  color: #ffffffa1;
  margin: 52px 0 13px 0;
  max-width: 686px;
}
.slider .slider-btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 20.82px;
  color: #000;
  padding: 24px 55px;
  border-radius: 5px;
  background: #fff;
}
.slider .slider-flag {
  border-radius: 5px;
  width: 46px;
  height: 35px;
}
.slider .swiper-btn__box {
  position: relative;
}
.slider .swiper-btn__box.active .swiper-btn__box-count {
  color: #fff;
  font-weight: 600;
}

.slider .swiper-btn__box-count {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.19px;
  color: #ffffff73;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  /* transition: all .2s linear; */
}
.slider .swiper-btn__box button {
  min-width: 218px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 57px 0 85px;
  height: 78px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.13px;
  color: #ffffffb2;
  background: url(../assets/btn-bg-2.svg) no-repeat;
  background-size: cover;
  background-position: top left;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  /* transition: all .2s linear; */
}

.slider .swiper-btn__box.active button {
  background: url(../assets/btn-bg-hover.svg) no-repeat;
  /* font-weight: 600; */
  background-size: cover;
  background-position: top left;
  color: #fff;
}
.slider .swiper-btns {
  display: flex;
  gap: 10px;
}
.slider .swiper-paginations {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap-reverse;
  row-gap: 20px;
}
.slider .pagination span {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.19px;
}
.slider .pagination .active-slider {
  font-size: 71px;
  font-weight: 400;
  line-height: 82.13px;
}

/* media */
@media (max-width: 1024px) {
  .header {
    padding-top: 34px;
  }
  .home-page {
    display: block;
    background-position: bottom center;
  }
  .home-page.slide-1 {
    background-image: url(../assets/media-bg-one.webp);
  }
  .home-page.slide-2 {
    background-image: url(../assets/media-bg-two.webp);
  }
  .home-page.slide-3 {
    background-image: url(../assets/media-bg-three.webp);
  }
  .home-page.slide-4 {
    background-image: url(../assets/media-bg-four.webp);
  }
  .home-page__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .slider {
    padding-top: 50px;
    padding: 50px 0 30px;
    min-height: calc(100vh - 176px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .slider .slide {
    padding-bottom: 50px;
    text-align: center;
  }
  .slider .slider-title {
    width: 100%;
    font-size: 36px;
    line-height: 39px;
  }
  .slider .slider-desc {
    max-width: 100%;
    margin: 25px 0 14px 0;
  }
  .slider .slider-btn {
    padding: 22px 48px;
  }
  .slider .pagination {
    display: none;
  }
  .slider .swiper-btns {
    gap: 6px;
    justify-content: space-between;
    width: 100%;
  }
  .slider .swiper-btn__box button {
    font-size: 16px;
    line-height: 18px;
    padding: 16px 32px 16px 50px;
    height: 52px;
    min-width: 145px;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .slider .swiper-btn__box button {
    background: #ffffff1f;
    backdrop-filter: blur(24px);
    padding: 13px 8px;
    height: 41px;
    font-size: 12px;
    line-height: 13.88px;
    white-space: break-spaces;
    min-width: auto;
    width: 100%;
  }
  .slider {
    padding-bottom: 16px;
    padding: 48px 0 16px 0;
    height: calc(100vh - 128px);
  }
  .slider .swiper-btn__box.active button {
    background: #d36d40;
  }
  .slider .swiper-btn__box-count {
    display: none;
  }
  .header-logo {
    width: 213px;
    height: 48px;
  }
  .header {
    padding-top: 16px;
  }
  .header .login-btn {
    font-size: 16px;
    padding: 9px 18px;
    line-height: 18px;
  }

  .slider .slider-title {
    font-size: 28px;
    line-height: 23px;
  }
  .slider .slider-title img {
    width: 32px;
    height: 23px;
    margin-right: 10px;
  }
  .slider .slider-desc {
    margin: 28px 0 17px 0;
    font-size: 16px;
    line-height: 21px;
  }
  .slider .slider-btn {
    font-size: 16px;
    line-height: 18px;
    width: 217px;
    height: 56px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
