html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}
button {
  padding: 0;
  background: transparent;
  border: none;
}
body {
  margin: 0;
  font-family: 'Gilroy';
  font-weight: 500;
  color: #fff;
  background: url(./assets/all-bg.png);
}

.container {
  width: 1300px;
  margin: 0 auto;
}
.wrapper {
  overflow: hidden;
}

/* media */
@media (max-width: 1350px) {
  .container {
    width: unset;
    margin: 0;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
