html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  margin: 0;
  font-family: 'Gilroy';
  font-weight: 500;
  color: #fff;
  background: url(../src/assets/bg.png) no-repeat;
  background-size: 100% 100%;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
